/* Start initialization */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
/* end initialization */
/* Start variables */
:root {
  --main-clr: #ff5722;
  --sec-padding: 50px;
  --p-clr: #777;
}
/* end variables */
/* Start the main elements */
.container {
  position: absolute;
  top: 0;
  left: 320px;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 70%;
  }
}
h2.title {
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-bottom: 50px;
  position: relative;
}
h2.title::before {
  content: "";
  position: absolute;
  top: -23px;
  font-size: 13px;
  color: #777;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h2.title span {
  color: var(--main-clr);
}
h2.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  background-color: var(--main-clr);
  bottom: 0;
  left: 0;
}
/* end the main elements */
/* start header */
body {
  min-height: 100vh;
  position: relative;
}
header {
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50px;
  padding: 40px 20px;
  overflow-y: scroll;
  background-color: #eee;
}
@media (max-width: 991px) {
  header {
    display: none;
  }
  .container {
    position: relative;
    left: 0;
    margin: auto;
  }
}
header img {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 20px;
}
header h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
header > p {
  text-transform: capitalize;
  color: #777;
  text-align: center;
  margin-bottom: 25px;
}
header > p span {
  color: var(--main-clr);
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
header nav a {
  color: rgb(0 0 0 / 85%);
  padding: 3px 0;
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav a:hover {
  color: #000;
  font-weight: 600;
}
header nav a::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav a.active {
  color: var(--main-clr);
}
header nav a.active::before {
  width: 100%;
}
header .copyright {
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 2;
}
header .copyright p {
  font-weight: 400;
}
header .copyright p span {
  color: var(--main-clr);
  font-weight: 600;
}
/* end header */
/* start home */
.home {
  padding: 50px;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home .h2 {
  position: relative;
  width: 200px;
  height: 200px;
}
.home .h2 h2 {
  display: block;
  font-size: 62px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.home .h2 h2:first-of-type {
  animation: home-h2 8s linear infinite;
  -webkit-animation: home-h2 8s linear infinite;
}
.home .h2 h2:last-of-type {
  animation: home-h2 8s linear 4s infinite;
  -webkit-animation: home-h2 8s linear 4s infinite;
  opacity: 0;
}
.home p {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.home button {
  width: 140px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  z-index: 100;
  position: relative;
  height: 36px;
}
.home button a {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}
.home button a:first-of-type {
  animation: home-button 8s linear infinite;
  -webkit-animation: home-button 8s linear infinite;
}
.home button a:last-of-type {
  animation: home-button 8s linear 4s infinite;
  -webkit-animation: home-button 8s linear 4s infinite;
  opacity: 0;
}
.home button i {
  margin-left: 5px;
  color: var(--main-clr);
}
/* end home */
/* start about */
.about {
  padding: 100px 50px 50px;
}
.about h2.title::before {
  content: "about us";
}
.about p {
  text-indent: 20px;
  line-height: 1.6;
  color: #777;
  margin-bottom: 30px;
}
.about .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin-bottom: 50px;
}
.about .cards .card {
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  border-bottom: 2px solid var(--clr);
}
.about .cards .card i {
  font-size: 35px;
  margin: 20px 0;
  color: var(--clr);
}
.about .cards .card h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.about .hire {
  padding: 50px;
  background-color: #00bcd496;
}
.about .hire h2 {
  font-size: 31px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
.about .hire button {
  padding: 8px 20px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.about .hire button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about .hire button:hover::before {
  left: 0;
}
.about .hire button a {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about .hire button:hover a {
  color: #fff;
  z-index: 100;
  position: relative;
}
/* end about */
/* start services */
.services {
  padding: 50px;
}
.services h2.title {
  margin-bottom: 100px;
}
.services h2.title::before {
  content: "what i do";
}
.services .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.services .cards .card {
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #ddd;
  margin: 0 10px 90px;
}
.services .cards .card .icon {
  background-color: var(--clr);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 110px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .cards .card .icon i {
  transform: rotate(-90deg);
  font-size: 35px;
  color: #fff;
}
.services .cards .card h2 {
  margin-top: 60px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;
}
.services .cards .card p {
  color: #777;
  line-height: 1.4;
}
.statistics {
  padding: 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 50px;
  position: relative;
  color: #fff;
}
.statistics::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000063;
}
.statistics h2 {
  text-align: center;
  position: relative;
  z-index: 100;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.statistics p {
  position: relative;
  z-index: 100;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
}
/* end services */
/* start skills */
.skills {
  padding: 50px;
}
.skills h2.title::before {
  content: "my speciality";
}
.skills p {
  color: #777;
  line-height: 1.6;
  text-indent: 20px;
  margin-bottom: 40px;
}
.skills .progress-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.skills .progress-box .card {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.skills .progress-box .card > span {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}
.skills .progress-box .card .percent {
  width: 100%;
  height: 5px;
  position: relative;
  background-color: #ddd;
}
.skills .progress-box .card .percent .percentage {
  position: absolute;
  top: -29px;
  font-size: 16px;
  left: calc(var(--percent) - 10px);
  color: var(--clr);
  font-weight: 800;
}
.skills .progress-box .card .percent .fill {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: var(--percent);
  background-color: var(--clr);
}
.skills .progress-box .card .percent .fill::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--clr);
  position: absolute;
  top: -2.5px;
  right: -5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* end skills */
/* start education */
/* end education */
/* Animation */
@keyframes home-h2 {
  0%,
  50%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
    z-index: -1;
  }
  7.5%,
  48.5% {
    transform: translateY(-70px);
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    opacity: 1;
    z-index: 100;
  }
  49% {
    opacity: 0;
  }
}

@keyframes home-button {
  0%,
  50%,
  100% {
    transform: translate(-50%, 50px);
    -webkit-transform: translate(-50%, 50px);
    -moz-transform: translate(-50%, 50px);
    -ms-transform: translate(-50%, 50px);
    -o-transform: translate(-50%, 50px);
    opacity: 0;
    z-index: -1;
  }
  7.5%,
  48.5% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 100;
  }
  49% {
    opacity: 0;
  }
}
