/* Start initialization */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  scroll-behavior: smooth;
}
/* end initialization */
/* Start variables */
:root {
  --main-clr: #ff5722;
  --sec-padding: 50px;
  --p-clr: #777;
  --main-font: "Montserrat", sans-serif;
  --p-font: "Poppins", sans-serif;
}
/* end variables */
/* Start the main elements */
.container {
  position: absolute;
  top: 0;
  left: 320px;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 70%;
  }
}
h2.title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 50px;
  position: relative;
}
h2.title::before {
  content: "";
  position: absolute;
  top: -23px;
  font-size: 13px;
  color: #777;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h2.title span {
  color: var(--main-clr);
}
h2.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  background-color: var(--main-clr);
  bottom: 0;
  left: 0;
}
a {
  text-decoration: none;
  font-family: var(--p-font);
}
p,
span {
  font-family: var(--p-font);
  font-weight: 300;
}
h2 {
  font-family: var(--main-font);
  letter-spacing: -1px;
  font-weight: 700;
  text-transform: uppercase;
}
/* end the main elements */
/* start header */
body {
  min-height: 100vh;
  position: relative;
}
header {
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50px;
  padding: 40px 20px;
  overflow-y: scroll;
  background-color: #eee;
}
header.phone {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
header .exit {
  display: none;
}
header.phone .exit {
  display: block;
  color: #000;
  font-size: 35px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@media (max-width: 991px) {
  header {
    display: none;
  }
  .container {
    position: relative;
    left: 0;
    margin: auto;
  }
}
header img {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 20px;
}
header h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
header > p {
  text-transform: capitalize;
  color: #777;
  text-align: center;
  margin-bottom: 25px;
  line-height: 1.6;
}
header > p span {
  color: var(--main-clr);
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
header nav a {
  color: rgb(0 0 0 / 85%);
  padding: 3px 0;
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav a:hover {
  color: #000;
  font-weight: 600;
}
header nav a::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav a.active {
  color: var(--main-clr);
}
header nav a.active::before {
  width: 100%;
}
header .copyright {
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 2;
  font-family: var(--p-font);
  font-size: 14px;
}
header .copyright p span {
  color: var(--main-clr);
}
/* end header */
/* start home */
.home {
  padding: 50px;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.home .bars {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}
.home .bars i {
  color: #fff;
  font-size: 25px;
}
.home .bars.phone i {
  color: #000;
}
@media (max-width: 991px) {
  .home .bars {
    display: block;
  }
}
.home .h2 {
  position: relative;
  width: 200px;
  height: 200px;
}
.home .h2 h2 {
  display: block;
  font-size: 62px;
  color: #fff;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.home .h2 h2:first-of-type {
  animation: home-h2 8s linear infinite;
  -webkit-animation: home-h2 8s linear infinite;
}
.home .h2 h2:last-of-type {
  animation: home-h2 8s linear 4s infinite;
  -webkit-animation: home-h2 8s linear 4s infinite;
  opacity: 0;
}
@media (max-width: 400px) {
  .home .h2 h2 {
    font-size: 50px;
  }
}
.home p {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.home button {
  width: 140px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  z-index: 100;
  position: relative;
  height: 36px;
  overflow: hidden;
}
.home button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home button:hover::before {
  left: 0;
}
.home button a {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  font-size: 14px;
}
.home button:hover a {
  color: #000;
}
.home button a:first-of-type {
  animation: home-button 8s linear infinite;
  -webkit-animation: home-button 8s linear infinite;
}
.home button a:last-of-type {
  animation: home-button 8s linear 4s infinite;
  -webkit-animation: home-button 8s linear 4s infinite;
  opacity: 0;
}
.home button i {
  margin-left: 5px;
  color: var(--main-clr);
}
/* end home */
/* start about */
.about {
  padding: 100px 50px 50px;
}
.about h2.title::before {
  content: "about us";
}
.about p {
  text-indent: 20px;
  line-height: 1.6;
  color: #777;
  margin-bottom: 30px;
}
.about .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin-bottom: 50px;
}
.about .cards .card {
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  border-bottom: 2px solid var(--clr);
}
.about .cards .card i {
  font-size: 35px;
  margin: 20px 0;
  color: var(--clr);
}
.about .cards .card h2 {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
}
.about .hire {
  padding: 50px;
  background-color: #00bcd496;
}
.about .hire h2 {
  font-size: 31px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .about .hire h2 {
    font-size: 25px;
  }
}
.about .hire button {
  padding: 8px 20px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.about .hire button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about .hire button:hover::before {
  left: 0;
}
.about .hire button a {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about .hire button:hover a {
  color: #fff;
  z-index: 100;
  position: relative;
}
/* end about */
/* start services */
.services {
  padding: 50px;
}
.services h2.title {
  margin-bottom: 100px;
}
.services h2.title::before {
  content: "what i do";
}
.services .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.services .cards .card {
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #ddd;
  margin: 0 10px 90px;
}
.services .cards .card .icon {
  background-color: var(--clr);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 110px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .cards .card .icon i {
  transform: rotate(-90deg);
  font-size: 35px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.services .cards .card h2 {
  margin-top: 60px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;
}
.services .cards .card p {
  color: #777;
  line-height: 1.4;
}
.statistics {
  padding: 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 20px;
  row-gap: 50px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 50px;
  position: relative;
  color: #fff;
}
.statistics::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000063;
}
.statistics h2 {
  text-align: center;
  position: relative;
  z-index: 100;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.statistics p {
  position: relative;
  z-index: 100;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
}
/* end services */
/* start skills */
.skills {
  padding: 50px;
}
.skills h2.title::before {
  content: "my speciality";
}
.skills p {
  color: #777;
  line-height: 1.6;
  text-indent: 20px;
  margin-bottom: 40px;
}
.skills .progress-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 350px) {
  .skills .progress-box {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.skills .progress-box .card {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.skills .progress-box .card > span {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}
.skills .progress-box .card .percent {
  width: 100%;
  height: 5px;
  position: relative;
  background-color: #ddd;
}
.skills .progress-box .card .percent .percentage {
  position: absolute;
  top: -29px;
  font-size: 16px;
  left: calc(var(--percent) - 10px);
  color: var(--clr);
  font-weight: 800;
}
.skills .progress-box .card .percent .fill {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: var(--percent);
  background-color: var(--clr);
}
.skills .progress-box .card .percent .fill::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--clr);
  position: absolute;
  top: -2.5px;
  right: -5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* end skills */
/* start education */
/* end education */
/* start experience */
.experience {
  padding: 50px;
}
.experience h2.title::before {
  content: "experience";
}
.experience .exp-box {
  padding: 50px 0 0 50px;
  position: relative;
}
.experience .exp-box::before {
  content: "";
  width: 4px;
  height: calc(100% - 50px);
  display: block;
  background-color: #eee;
  position: absolute;
  left: 9px;
  top: 62px;
}
.experience .exp-box::after {
  font-family: "Font Awesome 6 Free";
  content: "\f111";
  font-size: 35px;
  color: #ddd;
  position: absolute;
  left: -6px;
  bottom: -47px;
}
.experience .exp-box .card {
  padding: 20px;
  position: relative;
  background-color: #eee;
  margin-bottom: 20px;
}
.experience .exp-box .card:last-child {
  margin-bottom: 0;
}
.experience .exp-box .card h2 {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 0;
}
.experience .exp-box .card span {
  color: #777;
  padding-left: 5px;
}
.experience .exp-box .card p {
  line-height: 1.6;
  color: #777;
  letter-spacing: 0.2px;
}
@media (max-width: 425px) {
  .experience .exp-box .card h2 {
    font-size: 18px;
  }
  .experience .exp-box .card p {
    font-size: 12px;
  }
}
.experience .exp-box .card::after {
  font-family: "Font Awesome 6 Free";
  content: "\f253";
  font-weight: 900;
  width: 45px;
  height: 45px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  background-color: var(--clr);
  color: #fff;
  top: 9px;
  left: -68px;
  border: 6px solid #eee;
}
/* end experience */
/* start work */
.work {
  padding: 100px 50px 50px;
}
.work h2.title::before {
  content: "my work";
  color: #fff;
}
/* end work */
/* start contact */
.contact {
  padding: 50px;
  background-color: #000;
}
.contact h2.title {
  color: #fff;
}
.contact h2.title::before {
  content: "get in touch";
  color: #fff;
}
.contact .contact-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .contact .contact-box {
    flex-direction: column;
    gap: 80px;
  }
}
.contact .contact-box .left .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.contact .contact-box .left .box i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 30px;
  background-color: #eee;
  color: #000;
}
.contact .contact-box .left .box span {
  font-size: 17px;
  padding-left: 20px;
  color: #777;
}
@media (max-width: 375px) {
  .contact .contact-box .left .box i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .contact .contact-box .left .box span {
    font-size: 15px;
    padding-left: 10px;
  }
}
.contact .contact-box .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.contact .contact-box .right a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-box .right a i {
  font-size: 40px;
}
.contact .contact-box .right a span {
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 10px;
}
.contact .contact-box .right a:hover i,
.contact .contact-box .right a:hover span {
  color: var(--main-clr);
}
/* end contact */
/* start footer */
.footer {
  padding: 20px 0;
  text-align: center;
  color: #000;
  font-family: var(--p-font);
}
.footer a {
  color: var(--main-clr);
}
/* end footer */
@media (max-width: 400px) {
  .home,
  .services,
  .about,
  .skills,
  .experience,
  .work,
  .contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* reveal elements */
.card:nth-child(2n) {
  transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  animation: css-scroll-top linear forwards;
  -webkit-animation: css-scroll-top linear forwards;
  animation-timeline: view();
  animation-range-start: 50px;
  animation-range-end: 55vh;
}
.card:nth-child(2n + 1) {
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  animation: css-scroll-left linear forwards;
  -webkit-animation: css-scroll-left linear forwards;
  animation-timeline: view();
  animation-range-start: 50px;
  animation-range-end: 55vh;
}
/* Animation */
@keyframes home-h2 {
  0%,
  50%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
    z-index: -1;
  }
  7.5%,
  48.5% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    opacity: 1;
    z-index: 100;
  }
  49% {
    opacity: 0;
  }
}

@keyframes home-button {
  0%,
  50%,
  100% {
    transform: translate(-50%, 50px);
    -webkit-transform: translate(-50%, 50px);
    -moz-transform: translate(-50%, 50px);
    -ms-transform: translate(-50%, 50px);
    -o-transform: translate(-50%, 50px);
    opacity: 0;
    z-index: -1;
  }
  7.5%,
  48.5% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 100;
  }
  49% {
    opacity: 0;
  }
}
@keyframes css-scroll-top {
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes css-scroll-left {
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
